*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header,
.logo,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1.5rem 3%;
  border-bottom: 1px solid dimgray;
}

.logo,
nav {
  gap: 1rem;
}

a {
  color: inherit;
}

nav a:nth-child(4) {
  padding-left: 0.7rem;
  border-left: 1px solid black;
}

.active {
  color: blue;
  text-decoration: underline;
}

/* rockets page */
.rocket-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.rocket-img {
  width: 300px;
  height: 200px;
}

.info {
  text-align: left;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
