*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header,
.logo,
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1.5rem 3%;
  border-bottom: 1px solid dimgray;
}

.logo,
nav {
  gap: 1rem;
}

a {
  color: inherit;
}

nav a:nth-child(4) {
  padding-left: 0.7rem;
  border-left: 1px solid black;
}

.active {
  color: blue;
  text-decoration: underline;
}

/* table */
table {
  margin: 3rem;
  border-collapse: collapse;
}

table,
tr,
td,
th {
  border: 1px solid gray;
  text-align: start;
}

th,
tr td:nth-child(-n+2) {
  vertical-align: text-top;
  padding: 1rem 2rem 1rem 0.3rem;
}

tr td:nth-child(n+3) {
  width: 12%;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

.reservation {
  background-color: transparent;
  padding: 0.6rem 1.1rem;
  border: 2px solid #6f757d;
  color: #6f757d;
}

.canel-reservation {
  background-color: transparent;
  padding: 0.6rem 0.7rem;
  border: 2px solid #d66c72;
  color: #d66c72;
}

.reservation:hover,
.canel-reservation:hover {
  background-color: #6f757d;
  color: white;
  scale: 1.1;
}

.canel-reservation:hover {
  background-color: #d66c72;
}

.member,
.not-member {
  background-color: #4c9fb6;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
  color: azure;
}

.not-member {
  background-color: #6f757d;
}

.dragon {
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dragon:first-child {
  background-position: center;
}

.name {
  font-weight: 500;
}

.type {
  font-style: italic;
  font-weight: 400;
}

.reserved {
  width: auto;
}

/* rockets page */
.rocket-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.rocket-img {
  width: 300px;
  height: 200px;
}

.info {
  text-align: left;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
